*{
    font-family: 'DM Sans';
}
.printed{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

input{
    text-align: center;
}

li {
    list-style: none;
}

@media screen {
    .printed {
        display: none;
    }
}

@media print {
    .printed {
        display: block;
    }

    input {
        border: none;
    }

    a {
        display: none;
    }

    #procesar-venta{
        display: none;
    }
}

.comprobante{
    text-align: center;
}